[submodule "colcon_ws/src/realsense-ros"]
	path = colcon_ws/src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "colcon_ws/src/dasc_ros"]
	path = colcon_ws/src/dasc_ros
	url = git@github.com:dev10110/dasc_ros.git
[submodule "colcon_ws/src/px4_msgs"]
	path = colcon_ws/src/px4_msgs
	url = git@github.com:dev10110/px4_msgs.git
[submodule "colcon_ws/src/DecompROS2"]
	path = colcon_ws/src/DecompROS2
	url = git@github.com:dev10110/DecompROS2.git
[submodule "colcon_ws/src/pcl_msgs"]
	path = colcon_ws/src/pcl_msgs
	url = https://github.com/ros-perception/pcl_msgs.git
[submodule "colcon_ws/src/perception_pcl"]
	path = colcon_ws/src/perception_pcl
	url = https://github.com/ros-perception/perception_pcl.git
[submodule "colcon_ws/src/isaac_ros_nvblox"]
	path = colcon_ws/src/isaac_ros_nvblox
	url = git@github.com:dev10110/isaac_ros_nvblox.git 
[submodule "colcon_ws/src/vicon-bridge"]
	path = colcon_ws/src/vicon-bridge
	url = git@github.com:dasc-lab/vicon-bridge.git
[submodule "colcon_ws/src/vicon_px4_bridge"]
	path = colcon_ws/src/vicon_px4_bridge
	url = git@github.com:dasc-lab/vicon_px4_bridge.git
[submodule "colcon_ws/src/ros2-ping"]
	path = colcon_ws/src/ros2-ping
	url = git@github.com:dasc-lab/ros2-ping.git
[submodule "colcon_ws/src/jps3d_ros2"]
	path = colcon_ws/src/jps3d_ros2
	url = git@github.com:dev10110/jps3d_ros2.git
